input{
    font-size: 2em;
    padding: .25em;
    display: block;
}

[type ="checkbox"]{
    display: inline-block;
    margin-top: 15px;
}
.check{
    display: block;
}
.submit{
    display:block;
    margin: 10px 10px 10px 2px;
}