body{
    margin:0px;
    display:flex;
    min-height: 100vh;
    padding-bottom: 100em;
}
input{
    font-size: 2em;
    padding: .25em;
    display: block;
}

[type ="checkbox"]{
    display: inline-block;
    margin-top: 1px;
}
.check{
    display: block;
}
.submit{
    display:block;
    margin: 10px 10px 10px 2px;
}